

.calc-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 10rem;
}

.calc-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: gold;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.calc-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-weight: bold;
  margin-top: 20px;
  padding: 0 20px;
}

label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #444;
}

.calc-input {
  width: 60%;
  padding: 10px;
  margin-left: 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
  color: #333;
  transition: border-color 0.3s ease;
}

.calc-input:focus {
  border-color: #007bff;
  outline: none;
}

.calc-btn {
  padding: 12px 0;
  margin-top: 20px;
  background: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.calc-btn:hover {
  background: darkgrey;
}

h3 {
  margin-top: 25px;
  font-size: 20px;
  color: #333;
  font-weight: 600;
}

.calc-result-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 20px;
}

.calc-result-item {
  width: 48%;
  margin: 10px 0;
  font-size: 16px;
  font-weight: bold;
  color: #100e0e;
  text-align: left;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
