/* Testimonials container */
.testimonials-container {
    width: 95%;
    margin: auto;
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem 1.5rem;
    gap: 5rem;
    align-items: center;
}

.testimonials-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Center align horizontally */
    text-align: center; /* Center text */
    gap: 1rem;
    padding: 1rem 2rem; /* Add padding for spacing around the content */
    max-width: 800px; /* Limit the width for better readability */
    margin: 0 auto; /* Center align the whole header container */
  }
  
  .testimonials-header h1 {
    font-size: 2.5rem; /* Adjust font size for better prominence */
    font-weight: bold;
    color: #1e3a8a; /* Stronger color for the title */
    line-height: 1.3; /* Adjust line height for better text spacing */
  }
  
  .testimonials-header p {
    font-size: 1.2rem; /* Adjust font size for better readability */
    color: #555; /* Softer color for paragraph text */
    margin: 0 1rem; /* Reduce side margins to lessen the odd space */
  }
  
  @media (max-width: 768px) {
    .testimonials-header {
      padding: 1rem; /* Reduce padding on smaller screens */
    }
  
    .testimonials-header h1 {
      font-size: 2rem; /* Adjust title font size for smaller screens */
    }
  
    .testimonials-header p {
      font-size: 1rem; /* Adjust paragraph font size for smaller screens */
    }
  }
  

.clients-title {
    color: #1a0b50;
    font-size: 2rem;
}

.clients-subtitle {
    color: #000000;
    font-size: 1.875rem;
    font-weight: 600;
    line-height: 2.5rem;
}

.clients-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: 100%;
}

.client-card {
    background-color: #ffffff;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.client-card:hover {
    background-color:#170d3b;

}

.client-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.client-image {
    width: 100%;
    height: 400px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.client-image:hover {
    transform: scale(1.1);
}

.client-name {
    font-size: 1.25rem;
    color: #000000;
    font-weight: 600;
}

.client-text {
    color: #6b7280; /* Slate gray for text */
    font-size: 1.25rem;
}

.client-feedback {
    text-align: justify;
    color: #6b7280;
    font-size: 1.25rem;
}

.client-rating {
    display: flex;
    gap: 0.5rem;
}

.star-icon {
    color: #ffd700; /* Gold color for the stars */
}
