.home{
 background-color: white;
 box-sizing: border-box;
}
.block{
    background-color: rgb(237, 253, 236);
}
.header{

    height: 100vh;
    width:68%;
    background-image: url("./building.jpg");
    background-size: cover;
    display: flex;
}

.blue{
    background-color: darkblue;
    opacity: 0.9;
    width:68%;
    position: absolute;
    height: 100vh;
}
.blacky{
    display: flex;
    flex-direction: column;
    background-color: #222222;
    width: 60%;
    height: 100vh;
    left:110vh;
    position:relative;
}
.mid-img{
    width: 50px;
}
.mid-img-inner{
    width: 55vh;
    height: 73vh;
    z-index: 3;
    position: fixed;
    right: 63vh;
    top: 27vh;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    align-self: center;
    align-items: center;
    margin-left: 72vh;
}
.nav-link{
    padding: 10px;
    text-decoration: none;
    justify-content: flex-start;
    color: white;
    align-self: center;
    display: flex;
}